.row1{
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: center; */
}
.align-items{
    align-items:center;
    
}
/* .align-items-cut{
} */
.justify-content-cut{
    justify-content: space-evenly;
}
header{
    padding: 10px 0px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    margin: auto;
    padding: 15px 0px;
}
header .headerSearch{
    width: 100%;
    height: 50px;
    border: 1px solid #3bb77e;
    display: none;
}
header .row1 .headerSearch .selectDrop{
    padding: 7px 15px;
}

header .headerSearch .selectDrop{
    width: 30%;
    font-weight: 500;
    font-size: 14px;
    position: relative;
}
header .headerSearch .selectDrop::after{
    content: '';
    width: 1px;
    height: 30px;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 5px;
    right: 0px;
}
header .headerSearch .search{
    width: 89%;
    position: relative;
}
header .headerSearch .search input{
    width: 100%;
    height: 30px;
    margin: 3px 0px;
    padding-left:20px;
    border: 0px;
    outline: none !important;
}
header .headerTabs{
    padding: 0px 10px;
}
header .headerTabs li{
    position: relative;
    margin: 0px 10px;
}
header .headerTabs .badge{
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    left: 15px;
    font-size: 12px;

}
.AcountDropdown{
    position: absolute;
    top: 150%;
    left: -65%;
    width: 200px;
    z-index: 99999;
    box-shadow: 0px 3px 6px rgb(0 0 0 /20%);
    padding:20px 15px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
}

.AcountDropdown li{
    padding: 10px;
    border-radius: 2px;
    transition: all 0.2s ease-in;
    text-align: start;
}

.AcountDropdown li:hover{
    background-color: #3bb77e;
    color: white;
}

.headerSearch{
    width: 90%;
    border: 2px solid #3bb77e;
    border-radius: 5px;
}

.headerSearch .inputCate input{
    border: none;
    outline: none;
    padding: 10px;
    /* margin-left: 20px; */
}

.userList{
    position: absolute;
    top: 80%;
    left:-120px;
    list-style: none;
    width:180px;
    height: 350px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 25px 15px;
    border-radius: 10px;
    font-weight: 400;
}
.userList li{
   padding:10px 0px;
}

.userDropIcon{
    font-size: 30px;
    padding-right: 10px;
}

header .headerTabs .Compare,header .headerTabs .Account {
    visibility: hidden;    
}
header .headerTabs .listname{
    display: none;
}
.logo img{
    display: block;
    width: 150px;
    margin-left: 30px;

}
ul,ol{
    list-style: none;
}
.menu{
    font-size: 25px;
    margin-left: 5px;
    color: #3bb77e;
}

.name{
    position: absolute;
    top: 18px;
    left: 20px;
    /* margin-right: 20px; */
    font-size: 15px;
    color: gray;
}
.headerTabs img{
    width: 25px;
}